{
	# Global options (optional)
}

relay1.matrus.org {
	encode gzip
	@websocket {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websocket relay:8080
	# If you enable a nip96 service, uncomment below and change the upstream
	# reverse_proxy /upload nip96:8080
	# NIP-96 paths
	handle /upload* {
		reverse_proxy nip96:3001
	}
	handle /media/* {
		reverse_proxy nip96:3001
	}
	handle /nip96* {
		reverse_proxy nip96:3001
	}
	# Forward all other HTTP routes (including /nip11, /.well-known/nostr.json) to the relay app
	reverse_proxy relay:8080
}
