{
	# Global options (optional)
}

relay1.matrus.org {
	encode gzip
	@websocket {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websocket relay:8080
	# If you enable a nip96 service, uncomment below and change the upstream
	# reverse_proxy /upload nip96:8080
}
